<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allure.Commons" version="2.3.64.1" targetFramework="net461" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net461" />
  <package id="LightBDD.Core" version="3.2.0" targetFramework="net461" />
  <package id="LightBDD.Framework" version="3.2.0" targetFramework="net461" />
  <package id="LightBDD.NUnit3" version="3.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.Build" version="15.3.409" targetFramework="net461" />
  <package id="Microsoft.Build.Framework" version="15.3.409" targetFramework="net461" />
  <package id="Microsoft.Build.Utilities.Core" version="15.3.409" targetFramework="net461" />
  <package id="Microsoft.DotNet.Cli.Utils" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.0" targetFramework="net461" />
  <package id="MimeTypesMap" version="1.0.3" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="5.5.1" targetFramework="net461" developmentDependency="true" />
  <package id="NuGet.Common" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Configuration" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.DependencyResolver.Core" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.LibraryModel" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Packaging" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.ProjectModel" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Protocol" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Versioning" version="4.3.0" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit.Allure" version="1.0.9" targetFramework="net461" />
  <package id="NUnit.Console" version="3.11.1" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.11.1" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.16.1" targetFramework="net461" developmentDependency="true" />
  <package id="NUnitTestAdapter" version="2.2.0" targetFramework="net461" />
  <package id="System.Collections" version="4.0.11" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net461" />
  <package id="System.Linq" version="4.1.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.0.11" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>